@import "tailwindcss";

@theme {
    --color-background: #F8F8FA;
    --color-card: #FFFFFF;
    --color-border: #E5E7EB;

    --color-text: #0F172A;
    --color-text-muted: #64748B;

    --color-brand: #E50914;
    --color-success: #16A34A;
    --color-error: #DC2626;
}

.dark {
    --color-background: #09090B;
    --color-card: #18181B;
    --color-border: #27272A;

    --color-text: #FAFAFA;
    --color-text-muted: #A1A1AA;

    --color-brand: #E50914;
    --color-success: #22C55E;
    --color-error: #EF4444;
}